<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.BoardMapper">

	<!-- 전체조회 -->
	<select id="board_list" resultType="board">
		select * from board order by board_ref desc, board_step asc
	</select>

	<!-- paging 별 조회 -->
	<select id="board_page_list" parameterType="Map" resultType="board">
		<!-- 외부 쿼리 결과를 내부 서브쿼리에서 선택 -->
    SELECT bb.* 
    FROM (
    												<!-- 내부 서브쿼리 시작 -->
        SELECT
            rank() OVER (ORDER BY b.board_idx DESC) AS board_no,
            b.*,  							
	
            (SELECT COUNT(*) FROM comment_tb WHERE board_idx = b.board_idx) AS cmt_count,
            c.board_cate_name  							
        FROM
            board b  				
        JOIN														<!-- 게시물 테이블과 카테고리 테이블을 조인합니다. -->
            board_cate c ON b.board_cate_idx = c.board_cate_idx  	
																<!-- 동적 쿼리: WHERE 절을 동적으로 생성합니다. -->
		<!-- <trim> 태그를 사용하여 WHERE 절의 불필요한 'AND' 또는 'OR'을 제거합니다. -->
		<trim prefix="where" prefixOverrides="or">
			<!-- 카테고리 필터링 -->
			<if test="cate!= null and cate != 'all'">
				c.board_cate_idx = #{cate}
			</if>
			<if test="board_name != null">
                or b.board_name LIKE CONCAT('%', #{board_name}, '%')
			</if>
			<if test="mem_nickname != null">
                or b.mem_nickname LIKE CONCAT('%', #{mem_nickname}, '%')
			</if>
		</trim>
    ) bb  								
													<!-- 페이징 처리와 정렬을 위한 WHERE 및 ORDER BY 절 -->
    WHERE board_no BETWEEN #{start} AND #{end}
    																		<!-- 정렬 기준에 따라 ORDER BY 절을 동적으로 설정합니다. -->
		<choose>
			<when test="sort == 'board_readhit'">
            ORDER BY bb.board_readhit DESC
			</when>
			<when test="sort == 'board_idx'">
            ORDER BY bb.board_idx DESC
			</when>
			<!-- 위 조건이 모두 아닐 경우 기본적으로 board_no를 기준으로 내림차순 정렬합니다. -->
			<otherwise>
            ORDER BY bb.board_no DESC
			</otherwise>
		</choose>
	</select>

	<!-- 전체 게시물 수 -->
	<select id="board_row_total" parameterType="Map" resultType="int">
		select ifnull(count(*),0) from board																																																								<!-- Dynamic Query: 조건별 query -->
		<trim prefix="where" prefixOverrides="or">			<!-- prefixOverrides 지정한 문자열을 제거하여 재정의 => content만을 수행할 때 where or ... 가 나오는 상황 방지 -->
			<if test="board_name != null">				<!-- DB에서 문자열 결합 연산 || -->
					board_name LIKE CONCAT('%', #{board_name}, '%')
			</if>
			<if test="mem_nickname != null">
					or mem_nickname LIKE CONCAT('%', #{mem_nickname}, '%')
			</if>
		</trim>

	</select>

	<!-- b_idx에 해당되는 게시물 1건 얻어오기 -->
	<select id="board_one_from_idx" parameterType="int" resultType="board">
		SELECT b.*, 
			(SELECT COUNT(*) FROM comment_tb c WHERE c.board_idx = b.board_idx) AS cmt_count
		FROM board b
		WHERE b.board_idx = #{board_idx}
	</select>

	<select id="getMaxBoard_idx" resultType="int">
        select ifnull(max(board_idx),0) from board
	</select>

	<!-- 새글쓰기 -->
	<insert id="board_insert" parameterType="board">
		insert into board values(null, 
					     #{ board_cate_idx },
					     #{ mem_idx },
					     #{ board_name },
					     #{ board_content },
					     #{ board_ip },
					     now(),
					     #{ board_readhit },
					  	 'y',
						 #{ mem_nickname }
					     )
	</insert>

	<!-- 조회수 증가 -->
	<update id="board_update_readhit" parameterType="int">
		update board set board_readhit = board_readhit+1 where board_idx=#{ board_idx }
	</update>

	<update id="board_update_use">
		update board set board_use = 'n' where board_idx = #{ board_idx }
	</update>

	<update id="board_update" parameterType="board">
		update board set board_name   = #{ board_name },
					     board_content   = #{ board_content },					     
					     board_regdate 	 = now()
					     where board_idx = #{ board_idx }					     
	</update>





</mapper>
