<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.BookMapper">

    <resultMap id="performanceListMap" type="x_performance">
        <result property="hall_idx" column="hall_idx"/>
        <result property="performance_cate_idx" column="performance_cate_idx"/>

        <association property="performanceCateVo" column="performance_cate_idx=performance_cate_idx" select="performance_cate_list_listmap" />
        <association property="hallVo" column="hall_idx=hall_idx" select="hall_list_listmap" />
    </resultMap>

    <select id="performance_cate_list_listmap" resultType="performance_cate">
	   select * from performance_cate where performance_cate_idx=#{ performance_cate_idx }
    </select>
    <select id="hall_list_listmap" resultType="hall">
	   select * from hall where hall_idx=#{ hall_idx }
    </select>

    <!-- 전체조회 -->
    <select id="selectList" resultMap="performanceListMap">
		select * from performance order by performance_idx
    </select>


    <resultMap id="performanceOneMap" type="x_performance">
        <result property="hall_idx" column="hall_idx"/>
        <result property="performance_cate_idx" column="performance_cate_idx"/>
        <result property="performance_idx" column="performance_idx"/>
        <result property="seat_idx" column="seat_idx"/>

        <association property="performanceCateVo" column="performance_cate_idx=performance_cate_idx" select="performance_cate_list_onemap" />
        <association property="hallVo" column="hall_idx=hall_idx" select="hall_list_onemap" />
        <collection property="seatList" column="performance_idx=performance_idx" select="seat_list_onemap" />
    </resultMap>

    <select id="performance_cate_list_onemap" resultType="performance_cate">
	   select * from performance_cate where performance_cate_idx=#{ performance_cate_idx }
    </select>
    <select id="hall_list_onemap" resultType="hall">
	   select * from hall where hall_idx=#{ hall_idx }
    </select>
    <select id="seat_list_onemap" resultType="seat">
       select * from seat where performance_idx=#{ performance_idx }
    </select>

    <!-- idx조회 -->
    <select id="selectOneFromIdx" resultMap="performanceOneMap">
		select * from performance where performance_idx=#{ performance_idx }
    </select>

    <!-- 잔여좌석 조회 -->
    <select id="selectRemainSeat" resultType="int" parameterType="map">
    SELECT
        COALESCE(
            (SUM(s_hall_a = 0) +
            SUM(s_hall_b = 0) +
            SUM(s_hall_c = 0) +
            SUM(s_hall_d = 0) +
            SUM(s_hall_e = 0) +
            SUM(s_hall_f = 0) +
            SUM(s_hall_g = 0) +
            SUM(s_hall_h = 0) +
            SUM(s_hall_i = 0) +
            SUM(s_hall_j = 0)), 0) AS zero_count
    FROM
        s_hall
    WHERE
        seat_idx = #{ seat_idx }
		AND performance_date_idx = 6;
    </select>


    <!-- performance_date_idx 조회 -->
    <select id="selectPerformanceDateIdx" resultType="int">
        SELECT performance_date_idx 
        FROM performance_date 
        WHERE SUBSTRING(performance_date_date, 1, 10) = #{performance_date} 
        AND performance_idx = #{performance_idx};
    </select>

    <!-- 남은 좌석 수 조회 -->
    <select id="selectRemainSeat1" resultType="int">
        SELECT 
            COALESCE(
                (SUM(s_hall_a = 0) +
                SUM(s_hall_b = 0) +
                SUM(s_hall_c = 0) +
                SUM(s_hall_d = 0) +
                SUM(s_hall_e = 0) +
                SUM(s_hall_f = 0) +
                SUM(s_hall_g = 0) +
                SUM(s_hall_h = 0) +
                SUM(s_hall_i = 0) +
                SUM(s_hall_j = 0)), 0) AS zero_count
        FROM s_hall
        WHERE performance_date_idx = #{performance_date_idx}
        AND seat_idx = #{seat_idx};
    </select>

    <!-- performance_date를 performance_date_idx로 변환 -->
    <select id="getPerformanceDateIdxByDate" resultType="int">
    SELECT performance_date_idx
    FROM performance_date
    WHERE performance_date_date = #{performanceDate}
    </select>

    <select id="getPerformanceDateIdx" parameterType="map" resultType="int">
        SELECT performance_date_idx
        FROM performance_date
        WHERE performance_idx = #{performance_idx}
        AND SUBSTRING(performance_date_date, 1, 10) = #{performance_date}
    </select>

</mapper>