<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.CartMapper">

 <!-- cartMap: cart와 cart_seat를 묶어 조회 -->
 <resultMap id="cartMap" type="cart">
  <result property="cart_idx" column="cart_idx" />
  <result property="mem_idx" column="mem_idx" />
  <result property="performance_name" column="performance_name" />
  <result property="performance_idx" column="performance_idx" />
  <result property="reserved_performance_date" column="reserved_performance_date" />
  <result property="hall_name" column="hall_name" />
  <!-- 좌석 정보를 담기 위한 list -->
  <collection property="seatList" column="cart_idx" select="cart_seat_list" />
 </resultMap>

 <!-- 장바구니 좌석 정보와 좌석등급,가격 정보를 가져오기 위한 조인 -->
 <select id="cart_seat_list" resultType="cart_seat">
    SELECT 
        cs.cart_seat_idx,
        cs.seat_idx,
        s.seat_grade,
        s.seat_price,
        cs.cart_seat_name
    FROM cart_seat cs 
    INNER JOIN seat s ON cs.seat_idx = s.seat_idx
    WHERE cs.cart_idx = #{cart_idx}
 </select>

 <!-- 회원별 장바구니목록 조회(공연이미지, 공연명, 공연장명) -->
 <select id="cart_list" parameterType="int" resultMap="cartMap">
      SELECT 
          c.cart_idx,
          c.performance_idx,
          p.performance_name,
          p.performance_image,
          c.reserved_performance_date,
          h.hall_name
      FROM cart c 
      INNER JOIN performance p ON c.performance_idx = p.performance_idx
      INNER JOIN hall h ON p.hall_idx = h.hall_idx
      WHERE c.mem_idx = #{mem_idx} 
      ORDER BY c.cart_idx
 </select>


 <select id="select_one_cart" parameterType="int" resultType="cart">
        select * from cart where cart_idx = #{cart_idx}
 </select>

 <select id="select_performance_cate_idx" parameterType="int" resultType="int">
    SELECT performance_cate_idx 
    FROM performance 
    WHERE performance_idx = #{performance_idx};
 </select>

 <select id="selectOne_seat_idx_m" parameterType="map" resultType="int">
        SELECT seat_idx FROM cartListViewM where performance_date_idx = #{performance_date_idx} and m_hall_row_no = #{row};
 </select>
 <select id="selectOne_seat_idx_s" parameterType="map" resultType="int">
        SELECT seat_idx FROM cartListViewS where performance_date_idx = #{performance_date_idx} and s_hall_row_no = #{row};
 </select>
 <select id="selectOne_seat_idx_l" parameterType="map" resultType="int">
        SELECT seat_idx FROM cartListViewL where performance_date_idx = #{performance_date_idx} and l_hall_row_no = #{row};
 </select>

 <insert id="cart_insert" parameterType="cart">
      INSERT INTO cart ( mem_idx,performance_idx, reserved_performance_date) values (
            #{mem_idx}, 
            #{performance_idx}, 
            #{ reserved_performance_date } )
 </insert>

 <select id="cart_recent_idx" resultType="int">
        select max(cart_idx) from cart
 </select>

 <!-- 장바구니 삭제 -->
 <delete id="cart_delete" parameterType="int">
        DELETE FROM cart WHERE cart_idx = #{cart_idx}
 </delete>


</mapper>