<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.DetailMapper">

   <resultMap id="performanceMap" type="performance">
      <result property="hall_idx" column="hall_idx"/>
      <result property="performance_cate_idx" column="performance_cate_idx"/>
      <result property="performance_idx" column="performance_idx"/>
      <result property="seat_idx" column="seat_idx"/>

      <association property="performanceCateVo" column="performance_cate_idx=performance_cate_idx" select="performance_cate_list" />
      <association property="hallVo" column="hall_idx=hall_idx" select="hall_list" />
      <collection property="seatList" column="performance_idx=performance_idx" select="seat_list" />
   </resultMap>

   <resultMap id="castingMap" type="casting">
      <result property="actor_idx" column="actor_idx" />
      <result property="performance_idx" column="performance_idx" />

      <association property="actorVo" column="actor_idx=actor_idx" select="actor_list" />
      <association property="performanceVo" column="performance_idx=performance_idx" select="performance_list" />
   </resultMap>

   <resultMap id="performanceResultMap" type="Performance">
      <result property="performance_idx" column="performance_idx" />
      <result property="performance_name" column="performance_name" />
      <result property="performance_startday" column="performance_startday" />
      <result property="performance_endday" column="performance_endday" />
      <result property="performance_image" column="performance_image" />

      <collection property="castingList" ofType="casting">
         <result property="casting_name" column="casting_name" />
      </collection>
   </resultMap>

   <select id="performance_cate_list" resultType="performance_cate">
	   select * from performance_cate where performance_cate_idx=#{ performance_cate_idx }
   </select>
   <select id="hall_list" resultType="hall">
	   select * from hall where hall_idx=#{ hall_idx }
   </select>
   <select id="seat_list" resultType="seat">
       select * from seat where performance_idx=#{ performance_idx }
   </select>
   <select id="actor_list" resultType="actor">
      select * from actor where actor_idx=#{actor_idx}
   </select>
   <select id="performance_list" resultType="performance">
      select * from performance where performance_idx=#{performance_idx}
   </select>



   <!-- 전체조회 -->
   <select id="selectList" resultMap="performanceMap">
		select * from performance order by performance_idx
   </select>

   <!-- idx조회 -->
   <select id="selectOneFromIdx" resultMap="performanceMap">
		select * from performance where performance_idx=#{ performance_idx }
   </select>

   <!-- 좋아요 유무 -->
   <select id="findLike" resultType="Boolean">
		select count(*) from performance_ex_like where performance_idx=#{performance_idx} and mem_idx=#{mem_idx}
   </select>

   <!-- 좋아요 추가 -->
   <insert id="likeUp">
		INSERT INTO performance_ex_like (performance_idx, mem_idx, like_number)
        VALUES (#{performance_idx}, #{mem_idx}, 1)
   </insert>

   <!-- 좋아요 취소 -->
   <delete id="likeDown">
		delete from performance_ex_like 
			where performance_idx = #{performance_idx} and 
					mem_idx = #{mem_idx}
   </delete>

   <!-- 좋아요 수 -->
   <select id="getTotalLikeCount" parameterType="int" resultType="int">
        SELECT ifnull(sum(like_number),0)
        FROM performance_ex_like
        WHERE performance_idx = #{performance_idx}
   </select>

   <!-- 배우 전체 조회 -->
   <select id="selectActorList" resultType="actor">
		select * from actor order by actor_idx
   </select>


   <resultMap id="actorMap" type="actor">
      <result property="actor_idx" column="actor_idx"/>
      <result property="actor_name" column="actor_name"/>
      <collection property="performanceList" column="actor_idx=actor_idx" select="performance_list_by_actor" />
   </resultMap>


   <!-- 배우 idx별 조회 -->
   <select id="selectActorFromIdx" parameterType="int" resultMap="actorMap">
         select * from actor where actor_idx=#{ actor_idx }
   </select>

   <!-- 배우 이름별 조회 -->
   <select id="selectActorFromName" parameterType="string" resultType="actor">
      select * from actor where actor_name like concat('%', #{actor_name}, '%')
   </select>

   <!-- 배우 idx별 공연 -->
   <select id="performance_list_by_actor" resultMap="performanceResultMap">
      SELECT p.performance_idx, p.performance_name, p.performance_startday, p.performance_endday, p.performance_image, c.casting_name
      FROM performance p
      JOIN casting c ON p.performance_idx = c.performance_idx
      JOIN actor a ON a.actor_idx = c.actor_idx
      WHERE a.actor_idx = #{actor_idx};
   </select>





   <!-- 캐스팅 전체 조회 -->
   <select id="selectCastingList" resultMap="castingMap">
		select * from casting order by casting_idx
   </select>

   <!-- 공연 idx별 캐스팅 조회 -->
   <select id="selectCastingFromIdx" parameterType="int" resultMap="castingMap">
		select * from casting where performance_idx=#{ performance_idx }
   </select>

   <!-- 캐스팅 idx별 조회 -->
   <select id="selectCastingFromCastingIdx" parameterType="int" resultMap="castingMap">
      select * from casting where casting_idx=#{casting_idx}
   </select>

   <!-- 공연 날짜 가져오기 -->
   <select id="getPerformanceDates" resultType="string">
      SELECT DATE_FORMAT(performance_date_date, '%Y-%m-%d') 
      FROM performance_date
      WHERE performance_idx = #{performance_idx}
   </select>

   <!-- 공연 첫째날 가져오기 -->
   <select id="getFirstDate" resultType="string">
      SELECT DATE_FORMAT(performance_startday, '%Y-%m-%d') 
      FROM performance
      WHERE performance_idx = #{performance_idx}
   </select>

   <!-- 공연 마지막날 가져오기 -->
   <select id="getLastDate" resultType="string">
      SELECT DATE_FORMAT(performance_endday, '%Y-%m-%d') 
      FROM performance
      WHERE performance_idx = #{performance_idx}
   </select>

   <!-- 파일이름 변경 -->
   <update id="updateFilename" parameterType="performance">
      update performance set performance_detail_image=#{performance_detail_image} where performance_idx=#{performance_idx}
   </update>

   <!-- 수정 -->
   <update id="update" parameterType="performance">
      update performance set performance_detail_info=#{performance_detail_info}, performance_al=#{performance_al} where performance_idx=#{performance_idx}
   </update>

   <!-- 캐스팅 삭제 -->
   <delete id="delete" parameterType="int">
      delete from casting where casting_idx=#{casting_idx}
   </delete>

   <!-- 캐스팅 추가 -->
   <insert id="insert" parameterType="casting">
      insert into casting values(null,
                                 #{actor_idx},
                                 #{performance_idx},
                                 #{casting_name}
                                 )
   </insert>

</mapper>