<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.HallMapper">

    <select id="hall_list" resultType="hall">
        select * from hall order by hall_idx
        <trim prefix="where" prefixOverrides="or">
            <if test="area!= null and area != 'all'">
				area_idx = #{area}
			</if>
        </trim>
    </select>

    <insert id="hall_insert" parameterType="hall">
        insert into hall values(null,#{hall_name},#{hall_area},#{hall_addr},#{hall_tel},#{hall_site},#{hall_seat},#{hall_image})
    </insert>

    <select id="hall_one_from_idx" parameterType="int" resultType="hall">
        select * from hall where hall_idx = ${hall_idx}
    </select>

    <delete id="hall_delete" parameterType="int">
        delete from hall where hall_idx=#{hall_idx}
    </delete>

    <update id="hall_modify" parameterType="hall"> 
        update hall set hall_name=#{hall_name},hall_area=#{hall_area},hall_addr=#{hall_addr},hall_tel=#{hall_tel},hall_site=#{hall_site},hall_seat=#{hall_seat},hall_image=#{hall_image}
        where hall_idx = #{hall_idx}
    </update>


</mapper>