<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.M_HallMapper">

 <select id="selectSeatsByPerformanceAndDate" parameterType="map" resultType="m_hall">
        select m.*
        from m_hall m
        join performance_date cd on m.performance_date_idx = cd.performance_date_idx
        where cd.performance_idx = #{performance_idx} and substring(cd.performance_date_date, 1, 10) = #{performance_date}
 </select>

 <update id="updateSeatStatus" parameterType="map">
        UPDATE m_hall
        SET ${col} = 1
        WHERE performance_date_idx = #{performance_date_idx}
        AND m_hall_row_no = #{row}
 </update>

 <!-- 좌석등급 등록 후 공연 빈자리 공연 날짜에 맞게 자동 등록 -->
 <insert id="insertIntoMHall" parameterType="map">
    insert into m_hall (performance_date_idx, seat_idx, m_hall_row_no)
    values(#{performance_date_idx}, #{seat_idx}, #{m_hall_row_no});
 </insert>

 <!-- 주문 취소 시 좌석 선택 활성화 -->
 <update id="updateSeatStatusByOrder" parameterType="map">
        UPDATE m_hall
        SET ${col} = 0
        WHERE performance_date_idx = #{performance_date_idx}
        AND m_hall_row_no = #{row}
 </update>

 <!-- <update id="updateSeatStatus" parameterType="map">
    UPDATE m_hall AS m
    JOIN cart_seat AS cs ON m.seat_idx = cs.seat_idx
    SET m.${col} = 1, cs.reserved = 1
    WHERE m.performance_date_idx = #{performance_date_idx}
    AND m.m_hall_row_no = #{row}
    AND cs.cart_idx = #{cart_idx}; 
 </update> -->

</mapper>