<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.githrd.project3.dao.ConcertMapper">

	<resultMap id="concertMap1" type="concert">
		<result property="hall_idx" column="hall_idx"/>
		<result property="concert_cate_idx" column="concert_cate_idx"/>

		<association property="concertCateVo" column="concert_cate_idx=concert_cate_idx" select="concert_cate_list1" />
		<association property="hallVo" column="hall_idx=hall_idx" select="hall_list1" />
	</resultMap>

	<select id="concert_cate_list1" resultType="concert_cate">
	   select * from concert_cate where concert_cate_idx=#{ concert_cate_idx }
	</select>
	<select id="hall_list1" resultType="hall">
	   select * from hall where hall_idx=#{ hall_idx }
	</select>

	<!-- 전체조회 -->
	<select id="selectList" resultMap="concertMap1">
		select * from concert order by concert_idx
	</select>


	<resultMap id="concertMap2" type="concert">
		<result property="hall_idx" column="hall_idx"/>
		<result property="concert_cate_idx" column="concert_cate_idx"/>
		<result property="concert_idx" column="concert_idx"/>
		<result property="seat_idx" column="seat_idx"/>

		<association property="concertCateVo" column="concert_cate_idx=concert_cate_idx" select="concert_cate_list2" />
		<association property="hallVo" column="hall_idx=hall_idx" select="hall_list2" />
		<collection property="seatList" column="concert_idx=concert_idx" select="seat_list2" />
	</resultMap>

	<select id="concert_cate_list2" resultType="concert_cate">
	   select * from concert_cate where concert_cate_idx=#{ concert_cate_idx }
	</select>
	<select id="hall_list2" resultType="hall">
	   select * from hall where hall_idx=#{ hall_idx }
	</select>
	<select id="seat_list2" resultType="seat">
	
       select * from seat where concert_idx=#{ concert_idx }
	</select>

	<!-- idx조회 -->
	<select id="selectOneFromIdx" resultMap="concertMap2">
		select * from concert where concert_idx=#{ concert_idx }
	</select>
</mapper>