@charset "UTF-8";

/* @import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css'); */

@font-face {
 font-family: 'Freesentation-9Black';
 src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2404@1.0/Freesentation-9Black.woff2') format('woff2');
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'Pretendard-Regular';
 src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}

body {
 background-color: white !important;
}

* {
 /* color: #999999; */
 /* font-family: 'Pretendard-Regular'; */
 /* font-weight: 500; */

 /* font-family: Arial, sans-serif; */

}

#box {
 width: 800px;
 margin: auto;
 margin-bottom: 100px;


 /* position: relative; */
}

.sujeong {
 font-size: 26px;
 text-align: center;
 font-weight: bold;
 color: black;
 margin: 30px 0px 60px 0px;
}

.profile_wrap {
 width: 400px;
 text-align: center;
 border: 1px double #cccccc;
 border-radius: 10px;
 padding: 10px;
 margin-bottom: 30px;
 float: right;
}

.modify-content {
 width: 500px !important;
}

.profile {
 display: inline-block !important;
 text-align: center !important;
 width: 200px;
 height: 200px;
 border-radius: 70%;
 border: #cccccc solid 1px;
 overflow: hidden;

 /* position: absolute; */
}

.profile_img {
 max-width: 200px;
 max-height: 200px;
 justify-content: center;
}

.profile_btn {
 margin-top: 10px;
 margin-bottom: 10px;
}

.membership-btn {
 display: flex !important;
 justify-content: center !important;
}

.membership-btn input {
 font-weight: bold;
 /* border: 1px solid #2d2f35; */
 margin-bottom: 20px;
}

#box .form-group .form-group {
 margin-bottom: 20px;
}

#box .form-group .addr {
 margin-bottom: 50px;
}

.form-group input {
 width: 50%;
}

.text1 {
 margin-bottom: 10px;
 font-size: 18px;
 color: black;
 font-weight: 600;
}

.id_msg {
 font-size: 15px;
 color: IndianRed;
}

.text2 {
 /* width: 80px; */
 display: flex !important;
 font-size: 20px;
 color: #1f527c;
 justify-content: center !important;
}

.addr_text {
 float: left;
}

.a_search {
 background-color: #2B2E36 !important;
 width: 25% !important;
 height: 47px;
 font-size: 13px !important;
 font-weight: bold;
 margin-left: 20px !important;
 padding-bottom: 5px !important;

 color: white !important;
 width: 130px !important;
 height: 32px !important;
 text-align: center;
 display: inline-flex !important;
 justify-content: center !important;
 align-items: center !important;
 padding: 0 !important;
}


.form-group .text1 .addr_text .a_search:hover {
 background-color: #2B2E36;
 width: 25% !important;
 height: 47px;
 font-size: 17px !important;
 font-weight: bold;
 margin-left: 20px;

 background-image: rgba(0, 0, 0, .4) !important;
 color: white !important;
}


/* 버튼 기본 속성 제거 + 커스텀 */
.btn:active,
.btn:focus {
 outline: none !important;
 box-shadow: none !important;
 color: #999 !important;
}

/* 자동완성 관련 커스텀 */
input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
 -webkit-text-fill-color: #999;
 /* 글씨 색 */
 /*     -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset; */
 transition: background-color 5000s ease-in-out 0s;
}

.btn:hover {
 border: 1px solid black !important;
}

input {
 /* background-color: white !important; */
 border: 0.5px solid #cccccc !important;
}

input:active,
input:focus {
 border: 0.5px soild #575C6D !important;
 box-shadow: none !important;
}

input:hover {
 border: 0.5px soild #575C6D !important;
}

.addr {
 margin-bottom: 50px;
}

.home a {
 text-decoration: none !important;
 color: #999999 !important;
 font-size: 17px;
 font-weight: 600 !important;
 text-align: center !important;
 /* 안 먹어서 태그에 직접 적용 */
}

.home a:hover {
 color: #ff1d38 !important;

}